.hero-section {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

/* Color overlay */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 41, 0, 0.478); /* black with 40% opacity */
  z-index: 5; /* behind text but above images */
}

.hero-swiper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; /* images behind overlay */
}

.hero-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hero Text Overlay */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
  padding: 0 20px;
  width:100%;
}

.hero-text h1 {
  font-size: 48px;
  font-family: "bebas neue";
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.hero-text p {
  font-size: 18px;
  max-width: 55%;
  margin: 0 auto;
  font-family: "Inter";
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}
