@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }

body {
  margin: 0px;
  font-family: "Inter";
  background-color: rgb(238, 238, 238);
}

.skill-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width:80%;
  margin: 40px auto;
  gap:30px;
}