.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  margin-bottom: 0;
}

.profile-card {
  width: 340px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.profile-image-box {

  margin-bottom:20px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #16a34a;
}

.profile-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

.profile-email {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}

.update-profile-btn {
  padding: 10px 18px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.update-profile-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(37, 235, 47, 0.4);
}
